body {
    font-family: 'Roboto', sans-serif;
    color: var(--brand-color);
}

:root {
    --brand-color: #212121;
    --card-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
            0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06), 
            1px 4px 6px rgba(0, 0, 0, 0.16);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* HEADER */

.border-hed {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logot {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.studio {
    color: #000;
}

.flex-hed-top {
    margin-right: auto;
}

.flex-hed-ul {

    display: flex;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
}

.heder-link {
    position: relative;

    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.heder-link:hover,
.heder-link:focus {
    color: #2196F3;
}

.link-one::after,
.link-two::after {
    content: '';
    
    position: absolute;
    left: 0;
    bottom: calc(0px - 1px);
    
    display: block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}

.flex-hed-contacts {
    display: flex;
    padding-left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 10px;
    object-fit: fill;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #2196F3;
}

.contacts-svg {
    fill: currentColor;
}

/* MAIN */

.section-had {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    margin: 0 auto;
    
    background-color: #2F303A;
    background-image: linear-gradient( to right, 
        rgba(47, 48, 58, 0.4), 
        rgba(47, 48, 58, 0.4)), 
        url(../images/hat-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.bloks-h {
    width: 696px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;    
    text-align: center;
}

.link-button {
    padding: 10px 32px;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-button:hover,
.link-button:focus {
    background-color: #188CE8;
}

.flex-hat {
    display: block;
    margin: 0 auto;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 528px;
    min-height: 581px;

    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-black {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-black:hover,
.close-black:focus {
    fill: #2196F3;
}

.form {
    min-width: 448px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.form-h {
    padding-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.inputs {
    padding-bottom: 20px;
}

.form-field-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: #757575;
}

.form-field-d {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.form-field-input {
    padding: 0;
    padding-left: 42px;
    margin: 0;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 0;
    outline-offset: 0;

    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-d:hover > input,
.form-field-d:hover,
.form-field-input:focus,
input:focus + .form-svg {
    border-color: #2196F3;
    fill: #2196F3;
}

.form-svg {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    cursor: pointer;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
    padding-top: 12px;
    padding-left: 16px;
    margin: 0;
    width: 100%;
    height: 120px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    outline: 0;
    outline-offset: 0;
}

.form-field textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    padding-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: #757575;
}

.check-input {
    appearance: none;

    position: absolute;
}



/* .checkbox input[type='checkbox'] {
    background: #212121;
} */

.conditions {
    text-decoration-line: underline;
    
    color: #2196F3;
}

.button-form {
    display: block;
    margin: 0 auto;

    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;

    background: #2196F3;
    border-radius: 4px;
    border: none;

    cursor: pointer;
}

.button-form:hover,
.button-form:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

textarea {
    resize: none;
}

.section-features {
    padding-top: 94px;
}

.flex-features {
    display: flex;
    padding: 0;
    gap: 30px;
}

.feat {
    width: 270px;
}

.feat::before {
    content: '';
    display: block;
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;

    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;  
}

.feat-antenna::before {
    background-image: url(../images/features/antenna.svg);
}

.feat-clock::before {
    background-image: url(../images/features/clock.svg);
}

.feat-diagram::before {
    background-image: url(../images/features/diagram.svg);
}

.feat-astronaut::before {
    background-image: url(../images/features/astronaut.svg);
}

.features {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.features-name {
    padding-bottom: 10px;
}

.features-p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.section-tem {
    padding-top: 94px;
    padding-bottom: 94px;

    background-color: #F5F4FA;
}

.bloks {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.flex-bloks {
    margin: 0 auto;
    margin-bottom: 50px;

    text-align: center;
}

.flex-img {
    display: flex;
    padding: 0;
    gap: 30px;
}

.work {
    position: relative;
    height: 294px;
}

.work-p {
    position: absolute;
    content: '';
    padding: 27px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.flex-tem {
    display: flex;
    padding: 0;
    gap: 30px;
}

.team-box-shadow {
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
}

.flex-team {
    padding: 30px 0;
    text-align: center;
}

.team {
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}

.team-p {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.icon {
    display: flex;
    justify-content: space-between;

    padding: 16px 32px 0px 32px;
    margin: 0;    
    gap: 10px;
}

.icon-blok {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    margin: 0;
    padding: 0;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    
    border-radius: 50%;
    fill: #AFB1B8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    fill: #FFFFFF;
    background-color: #2196F3;
}

.soc {
    width: 20px;
    height: 20px;
}

.customers-ul {
    display: flex;
    padding: 0;
    margin: 0;

    gap: 30px;
}

.customers-li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    padding: 0;
    margin: 0;
    
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-li:hover,
.customers-li:focus {
    border-color: #2196F3;
}

.customers-a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-a:hover,
.customers-a:focus {
    fill: #2196F3;
}

.flex-filter {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 50px;
    gap: 8px;
}

.link-but {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--brand-color);

    border: none;
    border-radius: 4px;

    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-but:hover,
.link-but:focus {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: var(--card-shadow)
}

.flex-portfolio {
    display: flex;
    flex-wrap: wrap;

    padding: 0;
    margin: 0;
    margin-left: -30px;
    margin-top: -30px;
    list-style: none;
}

.portfolio-overley {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overley:hover {
    box-shadow: var(--box-shadow);
}

.flex-portfolio > .portfolio-overley {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.flex-ramka {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.portfolio-overley:hover .overley{
    transform: translateY(0);
}

.overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description {
    padding: 64px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;    
    color: #FFFFFF;
}

.portfolio-flex {
    padding: 20px 24px;
        
    border: 1px solid #EEEEEE;
    border-top: none;
}

.portfolio {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}

.portfolio-p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

/* FOOTER */

.back-footer {
    margin: 0 auto;
    background-color: #2F303A;
}

.section-f {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container-f {
    display: flex;
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.flex-logo {
    display: flex;
    padding-bottom: 20px;
}

.studio-f {
    color: #FFFFFF;
}

.flex-map {
    display: flex;
    flex-direction: column;
    width: 231px;
}

.flex-map>a:not(:last-child) {
    margin-bottom: 9px;
}

.map {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.contacts-f {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-f:hover,
.contacts-f:focus {
    color: #2196F3;
}

.social-f {
    width: 206px;
    padding-left: 70px;
    padding-top: 12px;
}

.social-h {
    margin: 0 auto;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #fff;
}

.icon-f {
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
    padding-left: 0;
    margin: 0;

    gap: 10px;
}

.icon-blok-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    padding: 0;
    margin: 0;
}

.icon-link-f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    border-radius: 50%;

    fill: #fff;
    background-color: #44454E;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-f:hover,
.icon-link-f:focus {
    background-color: #2196F3;
}

.soc-f {
    width: 20px;
    height: 20px;
}

.footer-form {
    padding-top: 12px;
    padding-left: 183px;
}

.form-email {
    padding-top: 20px;
    display: flex;

    gap: 12px;
}

.form-input {
    padding: 0;
    margin: 0;
    padding-left: 12px;
    width: 358px;
    height: 50px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: transparent;

    outline: 0;
        outline-offset: 0;
}

.subscription {
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    /* display: flex; */
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    border: none;
    
    cursor: pointer;
}

.button-icon-foot {
    width: 24px;
    height: 24px;

    fill: #FFFFFF;
}